body {
    background-color: #ff0024;
}

.tv9-interactives {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

section {
    margin: 70px auto;
    width: 100%;
}

.displayMob {
    display: block;
}
.displayDesk {
    display: none;
}

#cover{
    background-image: url(../assets/img/bg.png);
    width: 100%;
    margin: 0 auto 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% center;
    min-height: 100vh;
}

.cover-intro{
    display: flex;
    flex-direction: column;
}
.cover-intro h1, .cover-intro p{
    color: #fff;
}

.cover-intro h1{
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-top: 50px;
}
.cover-intro p {
    order: 3;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.cover-content { padding: 0 30px;}

.cover-content .authorname,
.cover-content .publishdate {
    color: #fff;
    text-align: center;
}

.cover-content .authorname {
    font-size: 16px;
    font-weight: 600;
}
.cover-content .publishdate {
    font-size: 14px;
    margin-bottom: 30px;
}

.bodycopy{
    color: #ffe597;
    font-size: 1.15rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin: 0 auto 50px;
}

.leadcopy{
    color: #ffe597;
    font-size: 1.15rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
}

.leaders{
    position: relative;
    margin-bottom: 30px;
}

.leaders:nth-child(1) .leaders__name{
    left: -24px;
}
.leaders:nth-child(2) .leaders__name{
    right: -8px;
}


.leaders .leaders__name{
    position: absolute;
    top: 170px;
    width: 170px;
    text-align: center;
    line-height: 16px;
    font-size: 11px;
    font-weight: 500;
}

.leaders .leaders__name span{
    font-weight: bold; display: block;
}

.mapsection{
    position: relative;
}

#manchu-map{
    width: 150%;
    margin-left: -20px;
    transform: scale(1.5);
    margin-top: 150px;
}




.mapsection__content {
    width: 100%;
    text-align: center;
    max-width: 300px;
    margin: -70% 0 0 0;
}
.mapsection__content p{
    margin: 50px 0;
}

#mapsections{
    position: relative;
}

/* #manchu-map.is-active{
    position: fixed;
} */

.sections {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}


.story-points {
    margin: 30px 0; text-align: center;
}
.story-points img,.sections img, .story-points p, .sections p{
    margin-bottom: 50px;
}

.fullwidthwithBG{
    width: 100%; position: relative;
    min-height: 600px;
}

.fullwidthBGContainer{
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    padding: 50px;
}

.us-rival-leaders img{
    align-self: center; width: 100%;
}


.BG {
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.BG.secImg1{
    background-image: url("../assets/img/story/theflight.jpg");
    background-position: center;
}

.BG.secImg2{
    background-image: url("../assets/img/story/army.jpg");
    background-position: center;
}

.leaders img{
    margin-bottom: 30px;
}

.sections2 {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    width: 100%;
    max-width: 650px; align-items: center;
    justify-content: center;    margin: 0 auto;
}

.fullwidthwithBG .bodycopy { color: #fff;}

.center-box{
    text-align: center;
    width: 100%;
    max-width: 350px;
    margin: 80px auto;
}
.center-box img{
    margin: 0 auto 30px;
    width: 100%;
}

@media (min-width: 1px) and (max-width: 767px) {

    .story-points img {margin: 0 auto;}
    .story-points p { padding: 0 50px;}
    
    .sections {
        width: 100%;
        max-width: 300px;
        margin:100px auto;
    }

    .leadcopy,
    #aboutLeaders 
    { padding: 0 30px;}

    .fullwidthwithBG {
        min-height: 500px;
    }

    .BG.secImg1{
        background-image: url(../assets/img/story/theflight.jpg);
        background-position: 30% bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .sections2 {
        grid-template-columns: 100%;
    }

    .mapsection {
        justify-content: center;
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
    .tv9-interactives {
        overflow: hidden;
    }

    
    /* Change order in Mobile */
    #dixieMission .story-points:nth-child(1), 
    #john-service  .story-points:nth-child(1),
    #patrick-hurley  .story-points:nth-child(1),
    #telegram  .story-points:nth-child(1) {
        order: 2;
    }

    #dixieMission .story-points img, #dixieMission .story-points,
    #david-barrette .story-points img, #david-barrette .story-points,
    #john-service .story-points img, #john-service .story-points,
    #telegram .story-points img, #telegram .story-points,
    #chuday .story-points img, #chuday .story-points,
    #patrick-hurley .story-points img, #patrick-hurley .story-points,
    #surrender .story-points img, #surrender .story-points,
    #center-box .bodycopy
    {
        margin-bottom: 0;
    }

    .center-box { margin: 20px auto;}

    .mt30{ margin-top: 30px !important;}
    
}


@media (min-width: 768px){
    
}

@media (min-width: 960px){
    .leadcopy, .bodycopy { font-size: 0.8rem; line-height: 1rem;}
    .twoCols{
        display: flex;
        column-gap: 250px;
        justify-content: space-between;
        margin-top: 50px;
    }
    .twoCols p{
        color: #fff;
    }
    
    .twoCols p:nth-child(1){
        margin-top: 20px;
        width: 200px;
    }
    .twoCols p:nth-child(2){
        margin-top: 70px;
        width: 300px;
    }

    .mapsection {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
    }

    #themarshall, #spyMaster {
        display: grid;
        justify-content: center;
    }
    #themarshall{
        grid-template-columns: 40% 40%;
        column-gap: 10%;
    }
    #spyMaster {
        grid-template-columns: 40% 40%;
        column-gap: 10%;
        align-items: center;
    }

    #themarshall .story-points:nth-child(2){
        margin-top: 200px;
    }
   
    #manchu-map{
        width: 100%;
        margin-left: -200px;
        transform: scale(1.2);
        margin-top: 250px;
    }
    .displayMob { display: none; }
    .displayDesk { display: block; }
    .tv9-interactives { width: 100%; max-width: 960px; margin: 0 auto;}

    .leadcopy{
        width: 100%;
        max-width: 300px;
    }

    .cover-intro {
        position: absolute;
        top: 260px;
        width: 360px;
        margin-left: 50px;
    }
    .cover-intro h1{
        font-size: 1.8rem;
        line-height: 2rem;
        margin-top: 15px;
    }
    .cover-intro p {
        order: 3;
        font-size: 11px;
        line-height: 14px;
        font-weight: 600;
        text-align: left;
        margin-bottom: 30px;
        margin-left: 29px;
        margin-top: 10px;
    }
    #cover{
        position: relative;
    }
    #cover .cover-content{
        width: 70%;
        background-position: center -20px;
        margin: 0 auto;
        padding-top: 80px;
    }
    #cover .cover-content object{
        margin-top: 20px;
    }

    .center-box p {
        margin-bottom: 30px;
    }

    #aboutLeaders {
        display: flex;
        column-gap: 30px;
        text-align: center;
        margin: 50px auto;
        width: 100%;
        max-width: 650px;
        justify-content: space-between;
    }
    .leaders:nth-child(1) .leaders__name{
        left: -25px;
    }
    .leaders:nth-child(2) .leaders__name{
        right: -21px;
    }

    .leaders{
        width: 300px;
    }

    .leaders .leaders__name{
        top: 150px;
    }
    #introUSRivalLeaders{
        width: 100%; max-width: 500px; margin: 50px auto;
    }
    #introUSRivalLeaders p{
        margin-bottom: 30px ;
    }
    .us-rival-leaders{
        display: flex;
    justify-content: center;
    column-gap: 60px;
    }
    .us-rival-leaders img{
        align-self: center;
    }
    .us-rival-leaders img:nth-child(1){
        width: 300px;
    }
    .us-rival-leaders img:nth-child(2){
        width: 340px;
    }
    .david-barrette{
        width: 80%;
    }

    #dixieMission {
        grid-template-columns: 40% 60%;
    }
    #david-barrette {
        grid-template-columns: 40% 60%;
    }
    #john-service {
        grid-template-columns: 40% 60%;
    }
    #david-barrette img{
        width: 80%; text-align: center;
    }
    #telegram {
        grid-template-columns: 30% 70%;
    }
    #surrender {
        grid-template-columns: 70% 30%;
    }
    
}
@media (min-width: 1200px){

}
